[submodule "0_circle/libft"]
	path = 0_circle/libft
	url = git@github.com:DandyDay/42-libft
[submodule "1_circle/get_next_line"]
	path = 1_circle/get_next_line
	url = git@github.com:DandyDay/42-get_next_line.git
[submodule "1_circle/ft_printf"]
	path = 1_circle/ft_printf
	url = git@github.com:DandyDay/42-ft_printf.git
[submodule "2_circle/minitalk"]
	path = 2_circle/minitalk
	url = git@github.com:DandyDay/42-minitalk
[submodule "2_circle/push_swap"]
	path = 2_circle/push_swap
	url = git@github.com:DandyDay/42-push_swap
[submodule "2_circle/FdF"]
	path = 2_circle/FdF
	url = git@github.com:DandyDay/42-FdF
[submodule "3_circle/minishell"]
	path = 3_circle/minishell
	url = git@github.com:42SNU/minishell.git
[submodule "3_circle/megashell"]
	path = 3_circle/megashell
	url = git@github.com:two-three-four-five/megashell
[submodule "3_circle/philosophers"]
	path = 3_circle/philosophers
	url = git@github.com:DandyDay/42-philosophers.git
[submodule "4_circle/miniRT"]
	path = 4_circle/miniRT
	url = git@github.com:7daysRT/miniRT.git
